<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="icon" type="image/png" href="/public/images/logo.png" />
    <script>
      window.paceOptions = {
        restartOnRequestAfter: false,
        ajax: false,
        elements: false,
        minTime: 400,
      };
    </script>
    <link rel="stylesheet" href="/public/css/loading.css" />
    <link
      rel="stylesheet"
      href="/public/assets/pace-js/pace-theme-loading-bar.css"
    />
    <script src="/public/assets/pace-js/pace.min.js"></script>
    <script>
      Pace.on("start", () => {
        document.body.style.overflow = "hidden";
        const o = document.getElementById("preloader-overlay");
        if (o) o.style.display = "flex";
      });
      Pace.on("done", () => {
        const o = document.getElementById("preloader-overlay");
        if (o) {
          o.style.opacity = "0";
          setTimeout(() => (o.style.display = "none"), 400);
        }
        document.body.style.overflow = "auto";
      });
    </script>

    <script src="/public/js/setup.js" defer></script>
  </head>
  <body class="is-flex is-flex-direction-column min-vh-100">
    <div id="preloader-overlay"></div>

    <header id="header-placeholder"></header>
    <main class="section is-flex-grow-1">
      <p class="title has-text-centered has-text-danger">
        Adicionar Categorias
      </p>
      <div class="columns is-centered is-multiline" id="category-container">
        <div
          class="column is-flex is-justify-content-center is-align-items-center is-narrow"
        >
          <div class="box p-0 m-0">
            <button
              class="js-modal-trigger button is-info is-dark"
              data-target="modal-category"
            >
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="divider has-background-danger m-6"></div>
      <p class="title has-text-centered has-text-danger">
        Adicionar Serviços
      </p>
      <div class="columns is-centered is-multiline" id="service-container">
        <div
          class="column is-flex is-justify-content-center is-align-items-center is-narrow"
        >
          <div class="box p-0 m-0">
            <button
              class="js-modal-trigger button is-info is-dark"
              data-target="modal-service"
            >
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </main>

    <div id="modal-category" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <form action="/category" method="POST">
          <header class="modal-card-head">
            <p class="modal-card-title">Adicionar Categoria</p>
            <button class="delete" aria-label="close" type="button"></button>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <p class="control has-icons-left">
                <input
                  class="input"
                  type="text"
                  name="name"
                  placeholder="Name"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-file-signature"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input
                  class="input"
                  type="text"
                  name="description"
                  placeholder="Description"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-comment-dots"></i>
                </span>
              </p>
            </div>
          </section>
          <footer class="modal-card-foot">
            <div class="buttons">
              <button class="button is-success" type="submit">
                Save changes
              </button>
              <button class="button" type="button">Cancel</button>
            </div>
          </footer>
        </form>
      </div>
    </div>

    <div id="modal-service" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <form action="/service" method="POST">
          <header class="modal-card-head">
            <p class="modal-card-title">Adicionar Serviço</p>
            <button class="delete" aria-label="close" type="button"></button>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <p class="control has-icons-left">
                <input
                  class="input"
                  type="text"
                  name="categoria"
                  placeholder="Categoria"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-list"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input
                  class="input"
                  type="text"
                  name="nome"
                  placeholder="Nome"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-file-signature"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input
                  class="input"
                  type="text"
                  name="descricao"
                  placeholder="Descrição"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-comment-dots"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input
                  class="input"
                  type="text"
                  name="duracao"
                  placeholder="Duração Ex: 00:10:00"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-clock"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input
                  class="input"
                  type="text"
                  name="preco"
                  placeholder="Preço Ex: 10.00"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-brazilian-real-sign"></i>
                </span>
              </p>
            </div>
          </section>
          <footer class="modal-card-foot">
            <div class="buttons">
              <button class="button is-success" type="submit">
                Save changes
              </button>
              <button class="button" type="button">Cancel</button>
            </div>
          </footer>
        </form>
      </div>
    </div>

    <script src="/public/js/layout.js"></script>
    <script src="/public/js/hideHeroFoot.js"></script>
    <script src="/public/js/insertContent.js"></script>
    <script src="/public/js/modal.js"></script>
    <script type="module">
      setTimeout(() => hideHeroFoot(), 100);
      const categories = await fetch("/category").then((r) => r.json());
      console.log("Categorias carregadas:", categories);
      insertContent(
        "#category-container",
        "/public/partials/category.html",
        categories
      );
      const services = await fetch("/service").then((r) => r.json());
      console.log("Serviços carregados:", services);
      insertContent(
        "#service-container",
        "/public/partials/service.html",
        services
      );
    </script>
  </body>
</html>
