/* Ícones do footer */
footer img {
  cursor: pointer;
  /* indica que é clicável */
  transition: filter 0.3s ease;
  /* animação suave no hover */
}

footer img:hover {
  filter: brightness(0) invert(1);
  /* efeito hover: inverte as cores */
}

footer .line {
  background-color: #4b4b4b;
}
