<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employees</title>
    <link rel="icon" type="image/png" href="/public/images/logo.png">
    <script>
      window.paceOptions = {
        restartOnRequestAfter: false,
        ajax: false,
        elements: false,
        minTime: 400,
      };
    </script>
    <link rel="stylesheet" href="/public/css/loading.css" />
    <link
      rel="stylesheet"
      href="/public/assets/pace-js/pace-theme-loading-bar.css"
    />
    <script src="/public/assets/pace-js/pace.min.js"></script>
    <script>
      Pace.on("start", () => {
        document.body.style.overflow = "hidden";
        const o = document.getElementById("preloader-overlay");
        if (o) o.style.display = "flex";
      });
      Pace.on("done", () => {
        const o = document.getElementById("preloader-overlay");
        if (o) {
          o.style.opacity = "0";
          setTimeout(() => (o.style.display = "none"), 400);
        }
        document.body.style.overflow = "auto";
      });
    </script>

    <script src="/public/js/setup.js" defer></script>
  </head>
  <body class="is-flex is-flex-direction-column min-vh-100">
    <div id="preloader-overlay"></div>

    <header id="header-placeholder"></header>
    <main class="section is-flex-grow-1">
      <div class="container">

      </div>
    </main>

    <script src="/public/js/layout.js"></script>
    <script src="/public/js/hideHeroFoot.js"></script>
    <script>
      setTimeout(() => hideHeroFoot(), 100);
    </script>
  </body>
</html>
