<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <script src="/public/js/setup.js" defer></script>
  </head>

  <body>
    <footer class="bg-dark text-muted text-center py-0 mt-auto">
      <div class="line py-1 mb-2"></div>
      <div class="d-flex justify-content-center gap-3 mb-0">
        <img
          class="img-fluid mx-2"
          src="/public/images/whatsapp.png"
          alt="WhatsApp"
          style="max-width: 28px"
        />
        <img
          class="img-fluid mx-2"
          src="/public/images/instagram.png"
          alt="Instagram"
          style="max-width: 28px"
        />
        <img
          class="img-fluid mx-2"
          src="/public/images/facebook.png"
          alt="Facebook"
          style="max-width: 28px"
        />
      </div>
      <hr class="mx-auto w-75 mb-0 py-0" />
      <p class="mb-0">🕘 Aberto Segunda a Sábado: 9:00 - 11:30 | 13:00 - 15:30</p>
      <a
        class="mb-0"
        href="https://www.google.com/maps/place/23%C2%B023'46.7%22S+52%C2%B038'56.1%22W/@-23.396324,-52.648951,20z/data=!4m4!3m3!8m2!3d-23.3963056!4d-52.6489167?hl=en&entry=ttu&g_ep=EgoyMDI1MTEwNC4xIKXMDSoASAFQAw%3D%3D"
        >R. São Tomé 738, São Manoel do Paraná, Paraná</a
      >
      <p class="mb-0">© 2025 Osf Barbearia, Inc</p>
    </footer>
    <footer class="footer">
  <section class="hero is-dark is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p>© 2025 MyWebsite — All rights reserved.</p>
      </div>
    </div>
  </section>
</footer>
  </body>
</html>
