<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <script src="/public/js/setup.js"></script>
  </head>
  <body>
    <section class="hero has-background-primary">
      <div class="hero-head has-background-black-bis">
        <nav class="navbar">
          <div class="navbar-brand">
            <a class="navbar-item">
              <figure class="image">
                <img src="public/images/logo.png" />
              </figure>
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item has-text-white" href="/home">Home</a>
              <a class="navbar-item has-text-white">Meus Agendamentos</a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link has-text-white">
                  Menu
                </a>
            
                <div class="navbar-dropdown is-right">
                  <a class="navbar-item">
                    Histórico
                  </a>
                  <a class="navbar-item">
                    Configurações
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    Logout
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body p-0 pb-2">
        <div class="container has-text-centered">
          <p class="title is-1 has-text-white">OSF</p>
          <p class="subtitle is-3 has-text-black">Barbearia</p>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed">
          <div class="container">
            <ul>
              <li class="is-flex-grow-1"></li>
              <li class="is-active is-flex-grow-1 has-text-centered"><a class="p-2"><span class="has-text-white">Login</span></a></li>
              <li class="is-flex-grow-1 has-text-centered"><a class="p-2"><span class="has-text-white">Localização</span></a></li>
              <li class="is-flex-grow-1 has-text-centered"><a class="p-2"><span class="has-text-white">Apresentação</span></a></li>
              <li class="is-flex-grow-1 has-text-centered"><a class="p-2"><span class="has-text-white">Serviços</span></a></li>
              <li class="is-flex-grow-1"></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
  </body>
</html>
