<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trabalho</title>
    <script src="/public/js/setup.js" defer></script>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header id="header-placeholder" class="bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark py-2">
        <div class="container-fluid">
          <img
            class="logo m-1"
            src="/public/images/logo.png"
            alt="logo"
            style="max-width: 100px; border-radius: 18px"
          />
          <a class="navbar-brand mx-4" href="/home">Osf Barbearia</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex gap-3 ms-1">
              <li class="nav-item">
                <a href="../home" class="nav-link text-secondary">Home</a>
              </li>
              <li class="nav-item hover-bg-light">
                <a
                  href="../dashboard?logout=true"
                  onclick="return confirm('Deseja sair do sistema?')"
                  class="nav-link text-secondary"
                  >Sair</a
                >
              </li>
            </ul>

            <!-- Botão de Login à direita -->
            <a
              href="/auth"
              id="header-action-btn"
              class="btn ms-auto me-3 px-5 py-2 text-white bg-danger"
              >Logout</a
            >
          </div>
        </div>
      </nav>
      <div class="line py-1"></div>
    </header>

    <!-- Scripts Bootstrap 5 -->
    <script src="/public/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
