<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <script src="/public/js/setup.js"></script>
  </head>
  <body>
    <section class="hero has-background-success">
      <div class="hero-head">
        <nav class="navbar">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="public/images/logo.png" />
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item has-text-white" href="/home">Home</a>
              <a class="navbar-item has-text-white">Meus Agendamentos</a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link has-text-white">
                  Menu
                </a>
            
                <div class="navbar-dropdown is-right">
                  <a class="navbar-item">
                    Histórico
                  </a>
                  <a class="navbar-item">
                    Configurações
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    Logout
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title has-text-black">OSF</p>
          <p class="subtitle has-text-white">Barbearia</p>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs">
          <div class="container">
            <ul>
              <li><a class="has-text-white">Login</a></li>
              <li><a class="has-text-white">Localização</a></li>
              <li><a class="has-text-white">Apresentação</a></li>
              <li><a class="has-text-white">Serviços</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
  </body>
</html>
